<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="patient">
            <h2><span>Patient Details for: </span> {{ patient.firstName }} {{ patient.lastName }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Birth Date</span></dt>
                <dd>
                    <span>{{ patient.birthDate | date:'shortDate' }}</span>
                </dd>
                <dt><span>Reason For Therapy</span></dt>
                <dd>
                    <span>{{ patient.reasonForTherapy }}</span>
                </dd>
                <dt><span>Affected Location</span></dt>
                <dd>
                    <span>{{ patient.affectedLocation }}</span>
                </dd>
                <dt><span>Home Status</span></dt>
                <dd>
                    <span>{{ patient.homeStatus }}</span>
                </dd>
                <dt><span>Activity Level</span></dt>
                <dd>
                    <span>{{ patient.activityLevel }}</span>
                </dd>
                <dt><span>Stress Level</span></dt>
                <dd>
                    <span>{{ patient.stressLevel }}</span>
                </dd>
                <dt><span>Mobility</span></dt>
                <dd>
                    <span>{{ patient.mobility }}</span>
                </dd>
                <dt><span>Notes</span></dt>
                <dd>
                    <span>{{ patient.notes }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/patient', patient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>

            <hr>

            <h3>Appointments</h3>
        </div>
    </div>
</div>
