<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="patient">
            <h2><span>{{ patient.lastName }}, {{ patient.firstName }}</span>
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info btn-sm">
                    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
                </button>

                <button type="button"
                        [routerLink]="['/patient', patient.id, 'edit']"
                        class="btn btn-primary btn-sm">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
                </button>
            </h2>
            <h4><span>Date of Birth: {{ patient.birthDate | date:'shortDate' }}</span></h4><br>

            <jhi-alert-error></jhi-alert-error>

            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Reason For Therapy</th>
                        <td>{{ patient.reasonForTherapy }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Affected Location</th>
                        <td>{{ patient.affectedLocation }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Home Status</th>
                        <td>{{ patient.homeStatus }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Activity Level</th>
                        <td>{{ patient.activityLevel }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Stress Level</th>
                        <td>{{ patient.stressLevel }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Mobility</th>
                        <td>{{ patient.mobility }}</td>
                    </tr>
                </tbody>
            </table>

            <dl class="row-md jh-entity-details">
                <dt><span>Notes</span></dt>
                <dd>
                    <span>{{ patient.notes }}</span>
                </dd>
            </dl><br>

            <h3>
                <span>Appointments</span>

                <button id="jh-create-entity" class="btn btn-primary btn-sm jh-create-entity create-appointment" [routerLink]="['/appointment/new']">
                    <fa-icon icon="plus"></fa-icon>
                    <span>Create a new Appointment</span>
                </button>
            </h3>
            <br>

            <div *ngFor="let appointment of patient.appointments">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">{{ appointment.date | date:'shortDate' }}: {{appointment.progress }} <a [routerLink]="['/appointment', appointment.id, 'view']">(Click for more details.)</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ appointment.notes }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>

        </div>
    </div>
</div>
