<div class="row">
    <div class="col-md-3">
        <!--<span class="hipster img-fluid rounded"></span>-->
        <img style="width: 100%;" src="https://images.pexels.com/photos/3408368/pexels-photo-3408368.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="therapy-home-img">
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome to Therapy Tracker!</h1>

        <p class="lead"></p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Please </span>
                <a class="alert-link" (click)="login()">sign in</a><span> to use the site!</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
        </div>

        <p>
            Therapy Tracker is a resource for occupational therapists and therapy assistants to:
        </p>

        <ul>
            <li>Create a library of therapy exercises to perform with patients.</li>
            <li>Track patient improvement or regression.</li>
            <li>Assign one or multiple exercises to patients for each appointment.</li>
        </ul>

    </div>
</div>
