<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="exercise">
            <h2>{{ exercise.name }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ exercise.description }}</span>
                </dd>
                <dt><span>Intensity Level</span></dt>
                <dd>
                    <span>{{ exercise.intensityLevel }}</span>
                </dd>
                <dt><span>Affected Location</span></dt>
                <dd>
                    <span>{{ exercise.affectedLocation }}</span>
                </dd>
                <dt><span>Steps</span></dt>
                <dd>
                    <span>{{ exercise.steps }}</span>
                </dd>
                <dt><span>Items Used</span></dt>
                <dd>
                    <span>{{ exercise.itemsUsed }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/exercise', exercise.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
